
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap');
  @import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');
  @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  

}
body{
     background-color: #E3EAEF;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.top-header-left{
    padding: 15px;
    background-color: white;
}
.top-header-right{
    padding: 15px;
    background-color: white;
}
.navBar-nav {
    display: flex;
}
.navBar-nav-right {
    display: flex;
}
.navBar-nav .navBar-item .navBar-link {
padding-left: 30px;
color: #516380;
font-size: 13px;


}
.navBar-nav-right .navBar-item-right .navBar-link-right {
    padding-left: 0px;
    color: #516380;
    font-size: 13px;
    
    
    }
.navBar-nav .navBar-item .navBar-link i{
    padding-left: 10px;
}
.navBar-nav-right .navBar-item-right .navBar-link-right i{
    padding-left: 20px;
}
.navBar-nav-right  .navBar-item-right  .navBar-link-right :hover{
    color:#73BE2F ;
}
.navBar-nav .navBar-item .navBar-link:hover{
    color:#73BE2F ;
}
.navBar-nav .navBar-item .navBar-link span{
    padding-left: 4px;
}
.navBar-nav-right .navBar-item-right .navBar-link-right span{
    padding-left: 4px;
}
@media (max-width: 779px){
    .displaynone{
        display: none;
    
    }
}
/* =================
Header Design
===================== */
.navbar-collapse{
    display: flex;
    justify-content: center;
}
.navbar-brand{
    padding-left: 28px !important;
}
.dropdown .dropdown-toggle{
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 30px;
   
}
.dropdown .dropdown-toggle span{
    padding-left: 5px;
    padding-right: 20px;
}
.icon{
    display: flex;
    padding-top: 30px;
    padding-right: 20px;
}
.icon .icon-box i{
    padding-left: 23px;
    font-size: 25px;
}
@media (max-width: 400px){
    .icon .icon-box {
        display: none;
    }
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-list{
    display: flex;
}
.dropdown-menu{
    padding-right: 70px;
}
.grid-layout-list li{
    font-size: 15px;
    padding-bottom: 17px;
}
.grid-layout-list li:hover{
    color: #73BE2F;
}
.images-title{
    display: flex;
}
/* .grid-layout-list{
    padding-left: 50px;
} */

/* .dropdown-item {

    width: 845px !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -170px !important;} */

    .grid-layout-list img{
        width: 100px;
    }
    .title{
        padding: 20px;
    }
    .title span{
        width: 40px;
    }
    .title:hover{
        color: #73BE2F;
    }
    
    .price{
        font-weight: bold;
        color: #73BE2F;
    }
    @media (max-width: 400px){
        .grid-layout .grid-layout-list{
            display: none;
        }

    }
    @media (max-width: 800px){
        .grid-layout .grid-layout-list .right-image{
            display: none;
        }
        
    }

    /* ==============
    Card Design
    ============== */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        top: 40px !important;
        height: 40%;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
        /* background-image: url("/ahmadsaeed/public/images/dogcat.webp"); */
      }
      /* .react-multi-carousel-track{
        padding-left: 45px !important;
    
      } */
      .container h4{
        color: white;
        font-size: 23px;
        font-weight: bold;
        font-family: "Roboto Slab";
        /* padding: 35px; */
        position: relative;
        top: 60px;
        display: flex;
        align-items: baseline;
      }
      .container p{
        color: white;
      }
    


      /* ====================
          SHOPING CARD DESIGN
      ======================== */

     .react-multi-carousel-track {
        padding-left: 50px
         !important;
     }
     
 .training-section{
    padding-top: 50px;
    overflow: hidden;

 }
      .containerss{
        width: 1170px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
      
      }
      .training-item{
        padding: 20px 0px;
        box-shadow: 0px 0px 10px 3px lightgray;
        margin: 10px 15px;
        width: 290px;
    
    
      }
      .training-item h5{
        padding: 10px 20px;
        color: black;
      }
      .training-item  p{
        font-size: 13px;
        padding: 10px 20px;
       }
       .training-item  img{
        width: 270px;
       }
    .rate{
        color: gray;
    display: flex;
    justify-content: space-around;
    }
    .rate li span{
        color: black;
    }
    .card-title h6{
        
    font-size: 15px;
    padding: 10px 20px;

    }
    .card-title p{
        color: gray;
    }
    .price-icon{
        display: flex;
        justify-content: space-between;
        padding: 0px 12px;
        padding-top: 0px;
        align-items: baseline;
    }
    .Price{
        font-size: 20px;
        color: green;

    }
    .icon{
        
    font-size: 27px;

    }
    .training-item .top-img{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .training-item:hover .img-top {
        display: block;
    }
.logo-img{
   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.logo-img img{
    width: 158px;
   

}


.service{
    background: #f7f8f8;
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}
.top-heading{
    text-align: center;
    background: #f7f8f8;
}
.big-icon{
    font-size: 30px;
    color: #22AC78;
}
.flex-title{
    padding-left: 20px;
}
.flex-title h3{
    font-weight: bold;
}
.flex-title p{
    color: #516380;
}
.flex-box{
    display: flex;
    padding-bottom: 21px;
}
/* =================
    FOOTER DESIGH
====================     */
.footers{
    padding-top: 20px;
    background-color: #091727;
    overflow: hidden;
}

.footer-top{
    display: flex;
        flex-wrap: wrap;
}

.footer-icon li span i{
    color: #22AC78;
    padding: 10px;

    
}
.footer-icon li {
    padding-bottom: 10px;
    padding: 10px;
    color: white;
 
}
.footer-box{
   
    
    padding-left: 70px;
}
